@import 'assets/css/font.css';
@import '~antd/dist/antd.css';

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: white;
    text-decoration: none;
    font-family: 'JetBrains Mono';
}