.articleCategory {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .navHeader {
        display: flex;
        flex: 0 0 auto;
        padding-bottom: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: auto;
    }
}