.headerNav {
    width: 100%;
    padding: 0;
    display: flex;
    flex: 0 0 auto;

    .headerTitle {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 22px;
        margin-right: 20px;
    }

    .leftNav {
        width: auto;
    }
}