@import '../../assets/css/global.scss';

.siderMain {
    width: 200px;
    @extend .basicScroll;
    overflow-y: overlay;
    overflow-x: hidden;
    padding-right: 5px;
    background-color: #ffffff;
    display: 0 0 auto;
}