.iconSL {
    font-size: 24px;
}

.basicScroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

.basicScroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2.5px rgba(0, 0, 0, .3);
    border-radius: 2.5px;
    background-color: #cecfd1;
    opacity: .7;
    transition: opacity ease-in-out 200ms;
}

.basicScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.3);
    border-radius: 2.5px;
    background-color: #F5F5F5;
}