.layoutMain {
    display: flex;
    height: 100vh;

    .bottom {
        display: 1 1 auto;
        display: flex;
    }

    .content {
        padding: 20px;
        overflow: auto;
        margin: 0 20px;
        background-color: #ffffff;
    }
}