.loginWarp {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #56ccf2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(86, 204, 242), rgb(47, 128, 237));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(86, 204, 242), rgb(47, 128, 237));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .loginMain {
        width: 400px;
        height: 280px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        border-radius: 10px;
        background-color: rgba($color: #ffffff, $alpha: 0.8);

        .title {
            color: rgba($color: #000000, $alpha: 0.8);
            text-align: center;
            margin: 10px auto;
        }

        .loginForm {
            width: 90%;
            margin-top: 30px;
        }
    }
}