.colorPicker {
    color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.colorPickerWarp {
    width: 80px;
    height: 25px;
    border-radius: 2px;
    padding: 4px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}